
@{
    ViewData["Title"] = "GROUP 9";
}

<div class="contact">
    <h1> NHÓM 9</h1>
    <h2>
        Hà Trung Hiếu - 2051010368
    </h2>
    <h2>
        Tăng Thị Mỹ Liên - 2051010167

    </h2>
    <h2>
        Hoàng Vũ Thanh - 1951012119

    </h2>
    <h2>
        Ngô Anh Khôi - 2051050219

    </h2>
    <h2>
        Nguyễn Thảo - 2051052128

    </h2>
    <h2>
        Dương Gia Đức Đạt - 2051052025
    </h2>
</div>
