@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article>
        <div class="hot">
            <img class="hot" src="https://cdn-i.vtcnews.vn/resize/th/upload/2023/03/15/viet-nam-thinh-vuong-18273128.jpg" alt="img">
            <h3 class="hot">
                Nhân viên đòi nợ thuê gọi gần 3.000 cuộc gọi 'khủng bố', thu 2-3 tỷ đồng/tháng
            </h3>
        </div>



        <div class="new">
            <div class="ba">
                <div class="img">
                    <img class="img" src="https://media.vov.vn/sites/default/files/styles/large/public/2023-03/su-27-russia-6282.jpg" alt="img">
                </div>
                <div class="Text">
                    <h3>
                        Mỹ cảnh báo Nga sau va chạm máy bay ở Biển Đen
                    </h3>
                </div>
            </div>


            <div class="ba">
                <div class="img">
                    <img class="img" src="https://media.vov.vn/sites/default/files/styles/large/public/2023-03/su-27-russia-6282.jpg" alt="img">
                </div>
                <div class="Text">
                    <h3>
                        Mỹ cảnh báo Nga sau va chạm máy bay ở Biển Đen
                    </h3>
                </div>
            </div>

            <div class="ba">
                <div class="img">
                    <img class="img" src="https://media.vov.vn/sites/default/files/styles/large/public/2023-03/su-27-russia-6282.jpg" alt="img">
                </div>
                <div class="Text">
                    <h3>
                        Mỹ cảnh báo Nga sau va chạm máy bay ở Biển Đen
                    </h3>
                </div>
            </div>
        </div>

        <div class="list">
            <div class="lNew">
                <div class="img">
                    <img class="limg" src="https://znews-photo.zingcdn.me/w1920/Uploaded/natmts/2023_02_02/trong.jpg" alt="img">
                </div>
                <div class="lText">
                    <h3>
                        Nhận diện tham nhũng, tiêu cực
                    </h3>
                </div>
            </div>

            <div class="lNew">
                <div class="img">
                    <img class="limg" src="https://znews-photo.zingcdn.me/w1920/Uploaded/natmts/2023_02_02/trong.jpg" alt="img">
                </div>
                <div class="lText">
                    <h3>
                        Nhận diện tham nhũng, tiêu cực
                    </h3>
                </div>
            </div>

            <div class="lNew">
                <div class="img">
                    <img class="limg" src="https://znews-photo.zingcdn.me/w1920/Uploaded/natmts/2023_02_02/trong.jpg" alt="img">
                </div>
                <div class="lText">
                    <h3>
                        Nhận diện tham nhũng, tiêu cực
                    </h3>
                </div>
            </div>

            <div class="lNew">
                <div class="img">
                    <img class="limg" src="https://znews-photo.zingcdn.me/w1920/Uploaded/natmts/2023_02_02/trong.jpg" alt="img">
                </div>
                <div class="lText">
                    <h3>
                        Nhận diện tham nhũng, tiêu cực
                    </h3>
                </div>
            </div>

            <div class="lNew">
                <div class="img">
                    <img class="limg" src="https://znews-photo.zingcdn.me/w1920/Uploaded/natmts/2023_02_02/trong.jpg" alt="img">
                </div>
                <div class="lText">
                    <h3>
                        Nhận diện tham nhũng, tiêu cực
                    </h3>
                </div>
            </div>


        </div>

    </article>



    <aside>
        <div class="noiDung">
            <img class="noiDung" src="./assets/image/vsmarts.jpg" alt="đtdđ">
            <h3>
                Vsmart Aris Pro cũ giá rẻ nay lại được giảm thêm hấp dẫn,
                máy có camera độ phân giải cao 64 MP, sắm về chụp ảnh siêu nét
            </h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="./assets/image/iphone13.jpg" alt="đtdđ">
            <h3>Tại sao nhiếp ảnh gia lại hào hứng với công nghệ camera từ Iphone 13</h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="./assets/image/ipad.jpg" alt="đtdđ">
            <h3>
                Trên tay iPad mini 6: Hiệu năng cực mạnh với Apple A15 Bionic,
                đi kèm thiết kế gọn gàng, đẹp mặt và không kém phần hấp dẫn
            </h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="https://media.vov.vn/sites/default/files/styles/large_watermark/public/2022-10/tbt.jpeg.jpg" alt="đtdđ">
            <h3>
                Vsmart Aris Pro cũ giá rẻ nay lại được giảm thêm hấp dẫn,
                máy có camera độ phân giải cao 64 MP, sắm về chụp ảnh siêu nét
            </h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="./assets/image/iphone13.jpg" alt="đtdđ">
            <h3>Tại sao nhiếp ảnh gia lại hào hứng với công nghệ camera từ Iphone 13</h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="./assets/image/ipad.jpg" alt="đtdđ">
            <h3>
                Trên tay iPad mini 6: Hiệu năng cực mạnh với Apple A15 Bionic,
                đi kèm thiết kế gọn gàng, đẹp mặt và không kém phần hấp dẫn
            </h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="https://media.vov.vn/sites/default/files/styles/large_watermark/public/2022-10/tbt.jpeg.jpg" alt="đtdđ">
            <h3>
                Vsmart Aris Pro cũ giá rẻ nay lại được giảm thêm hấp dẫn,
                máy có camera độ phân giải cao 64 MP, sắm về chụp ảnh siêu nét
            </h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="./assets/image/iphone13.jpg" alt="đtdđ">
            <h3>Tại sao nhiếp ảnh gia lại hào hứng với công nghệ camera từ Iphone 13</h3>
        </div>

        <div class="noiDung">
            <img class="noiDung" src="./assets/image/ipad.jpg" alt="đtdđ">
            <h3>
                Trên tay iPad mini 6: Hiệu năng cực mạnh với Apple A15 Bionic,
                đi kèm thiết kế gọn gàng, đẹp mặt và không kém phần hấp dẫn
            </h3>
        </div>



    </aside>
</div>
