@page
@model Web.Views.baoModel
@{
    ViewData["Title"] = "Báo";
}

<div class="body">
    <div class="tit">
        <h1>Khám xét khẩn cấp Phòng Đăng kiểm tàu cá, Chi cục Thủy sản Đà Nẵng</h1>
    </div>
    <div class="img">
        <img src="https://static-images.vnncdn.net/files/publish/2023/3/17/z4188129099925-d9ec139d0d913619b89452775d6d3fe8-3.jpg" />

    </div>
    <div class="content">
        <span>
            Đêm 16/3, Cơ quan Cảnh sát Điều tra Công an TP Đà Nẵng đã khám xét nơi làm việc, tống đạt quyết định tạm giữ hình sự đối với 4 người liên quan đến công tác đăng kiểm phương tiện đường thủy nội địa.
            Cụ thể, các ông Nguyễn Ch. (SN 1968), Huỳnh Văn L. (SN 1968, cùng trú phường Thọ Quang, quận Sơn Trà) bị tạm giữ để điều tra về hành vi “Lừa đảo chiếm đoạt tài sản".

            Ông Ngô H. (SN 1964, trú phường Nại Hiên Đông, quận Sơn Trà) và ông Lê Văn L. (SN 1974, trú phường Thạch Thang, quận Hải Châu) bị tạm giữ để điều tra về hành vi “Lợi dụng chức vụ quyền hạn trong khi thi hành công vụ”.

            Hai ông Ngô H. và Lê Văn L. là đăng kiểm viên của Chi cục Thủy sản TP Đà Nẵng.

            Cơ quan công an cũng tiến hành khám xét khẩn cấp Phòng Đăng kiểm tàu cá thuộc Chi cục Thủy sản ở đường Thanh Sơn (phường Thanh Bình, quận Hải Châu), thu giữ nhiều hồ sơ, tài liệu liên quan công tác đăng kiểm tàu cá trên địa bàn thành phố thời gian qua để phục vụ công tác điều tra.


        </span>
    </div>
</div>
